<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.onroute.balancemanager">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

       <activity android:name="org.onroute.balancemanager.UserActivity">
        <intent-filter >
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name="org.onroute.balancemanager.SettingsActivity" />
        <activity android:name="org.onroute.balancemanager.TestActivity" />

        <provider
            android:authorities="org.onroute.balancemanager.BalanceContentProvider"
            android:name="org.onroute.balancemanager.BalanceContentProvider"
            android:exported="true">
        </provider>

        <service android:name="org.onroute.balancemanager.BalanceManager"/>

        <receiver android:name="org.onroute.balancemanager.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="9fe8f4f3c401a5d84457a0cb810b275914bb8f2c"/>

    </application>


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


</manifest>
